<?xml version="1.0"?>

<launch>
    <arg name="world" default="worlds/empty.world" />
    
    <param name="use_sim_time" value="true" />
    
    <include file="$(find thor_mang_gazebo)/launch/gazebo_start.launch">
      <arg name="paused" value="false"/>
      <arg name="verbose" value="true"/>
      <arg name="world_name" value="$(arg world)"/>
    </include>

    <include file="$(find lidar_calibration)/launch/spawn_head_gazebo.launch"/>
    <include file="$(find hector_multisensor_head_driver)/launch/load_simulated_controller.launch"/>

</launch>
