<?xml version="1.0"?>

<launch>
  
  <arg name="robot_name" default="johnny5" />
  
  <!-- send the correct robot XML to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find multi_lidar_calibration)/urdf/hector_multisensor_head_standalone_no_cylinder.urdf.xacro' 
         robot_name:=johnny5" />
  
  <!-- load modified URDF for gazebo -->   
  <!-- fixme -->
  <param name="robot_description_gazebo" command="cat $(find multi_lidar_calibration)/urdf/realsense_error.urdf" />
  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description_gazebo
          -urdf
          -model robot_description_gazebo"
    respawn="false" output="screen" />

  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/gazebo/johnny5/joints/joint_states" />
  </node>
 
  <node name="relay_head_image" pkg="topic_tools" type="relay" args="/head_cam/image_raw /camera/image_raw" />
  <node name="relay_head_camera_info" pkg="topic_tools" type="relay" args="/head_cam/camera_info /camera/camera_info" /> 
  
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link" args="0 0 0 0 0 0  /head_cam_link /head_cam_depth_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link2" args="0 0 0 -1.57 0 -1.57 /head_cam_link /head_cam_depth_optical_frame  100" />

</launch> 
