<?xml version="1.0"?>
<launch>   
  <!-- Start calibration -->
  <node pkg="hector_camera_lidar_calibration" type="camera_lidar_calibration_node" name="camera_lidar_calibration_node" output="screen">
    <rosparam file="$(find hector_camera_lidar_calibration)/config/cameras.yaml" command="load" />
    <param name="capture_data" value="false"/>
    <param name="bag_path" value="/tmp/lidar_calibration_data.bag"/>
<!--     <param name="bag_path" value="$(find hector_camera_lidar_calibration)/calibration_bags/indoor_lab1_10s.bag.bag"/> -->
    
    <param name="bin_fraction" value="1"/>
    
    <param name="debug" value="true"/>
    <param name="debug_point_max_distance" value="0.5"/>
    
  </node>
</launch>
