<?xml version="1.0"?>
<launch> 
  
  <!-- Visualize error -->
  <node pkg="hector_camera_lidar_calibration" type="error_vis_node" name="error_vis_node" output="screen">
    <rosparam file="$(find jasmine_robot_bringup)/config/ricoh_theta/cameras.yaml" command="load" />
    
    <param name="base_frame" value="base_link"/>
    <param name="cam_head_frame" value="ricoh_theta_center_link"/>
    <param name="bin_fraction" value="1"/>
    <param name="bag_path" value="/tmp/camera_lidar_calibration_data.bag"/>
    <param name="capture_data" value="false"/>
    
    <remap from="cloud" to="/spin_laser/vlp16_agg"/>
  </node>
</launch>
