<?xml version="1.0"?>

<launch>
  <include file="$(find lidar_calibration)/launch/start_head_simulation.launch">
      <arg name="world" value="$(find lidar_calibration)/worlds/calibration_test.world"/>
   </include>
   
  <node pkg="vigir_laserscan_to_pointcloud" type="laserscan_to_pointcloud_node" name="scan_to_clouds_pub_node" output="screen">
    <remap from="/scan" to="/head_lidar/scan"/>
    <remap from="/scan_cloud" to="/head_lidar/scan_cloud"/>
  </node>
  
 <node pkg="vigir_cloud_to_planar_scan" type="rotating_cloud_to_aggregated_cloud_node" name="cloud_aggregator_node" output="screen">
    <remap from="/cloud" to="/head_lidar/scan_cloud"/>
    <remap from="/cloud_out" to="/head_lidar/half_scan"/>
    <param name="target_frame" value="head_lidar_actuator_frame"/>
  </node> 
  
  <node pkg="tf" type="static_transform_publisher" name="head_lidar_actuator_frame_pub" args="0.061 0 0.134 0 0 0 1 head_link head_lidar_actuator_frame 100" />
  
</launch>
