<?xml version="1.0"?>
 
 <launch>  
   
  <arg name="sensor_identifier"/>
     
   <!-- Laser to Pointcloud -->
  <node pkg="vigir_laserscan_to_pointcloud" type="laserscan_to_pointcloud_node" name="scan_to_clouds_pub_node" output="screen">
    <remap from="/scan" to="/$(arg sensor_identifier)_spinning_lidar/scan"/>
    <remap from="/scan_cloud" to="/$(arg sensor_identifier)_lidar/scan_cloud"/>
    <param name="use_high_fidelity_projection" value="true"/>
    <param name="target_frame" value="$(arg sensor_identifier)_laser_frame"/>
  </node>
  
  <!-- Laser Frame -->
    <node pkg="tf" type="static_transform_publisher" name="$(arg sensor_identifier)_laser_frame_pub"          args="0 0 0 0 -1.57 0 $(arg  sensor_identifier)_spinning_lidar_spin_link $(arg sensor_identifier)_laser_frame 100" />
  
  <!-- Actuator Frame -->
  <node pkg="tf" type="static_transform_publisher" name="$(arg sensor_identifier)_lidar_actuator_frame_pub" args="0 0 0 0 -1.57 0 $(arg sensor_identifier)_spinning_lidar_root_link $(arg sensor_identifier)_lidar_actuator_frame 100" />
  
  <!-- Aggregator -->
   <node pkg="lidar_calibration" type="cloud_aggregator_node" name="cloud_aggregator_node" output="screen" ns="$(arg sensor_identifier)_lidar">
    <remap from="cloud" to="scan_cloud"/>
    <param name="target_frame" value="$(arg sensor_identifier)_lidar_actuator_frame"/>
  </node> 
  
  <!-- Calibration -->
  <node pkg="lidar_calibration" type="lidar_calibration_node" name="lidar_calibration_node" output="screen" args="">
    <param name="actuator_frame" value="$(arg sensor_identifier)_lidar_actuator_frame"/>
    <param name="rotation_offset_pitch" value="-1.57"/>
    <param name="detect_ground_plane" value="false"/>
    
    <param name="o_spin_frame" value="rear_spinning_lidar_spin_link"/>
    <param name="o_laser_frame" value="rear_hokuyo_laser_frame"/>
     <param name="tf_wait_duration" value="10"/>
     
    <param name="save_calibration" value="true"/>
    <param name="save_path" value="$(find argo_robot_description)/calibrations/${arg sensor_identifier)_lidar_calibration.urdf.xacro"/>
    
    <remap from="request_scans" to="$(arg sensor_identifier)_lidar/request_scans" />
    <remap from="reset_clouds" to="$(arg sensor_identifier)_lidar/reset_clouds" />
  </node>
</launch>
